* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

input {
  background: none;
  border: none;
  outline: none;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 90vw;
  margin-top: 3rem;
}

.page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  background: hsl(222, 53%, 7%);
}
.page-background .content {
  background-image: url("../../img/Global/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
  width: 100%;
  height: 100%;
}

.size-50 {
  font-size: 0.875rem;
}

.size-100 {
  font-size: 1rem;
}

.size-150 {
  font-size: 1.25rem;
}

.size-200 {
  font-size: 1.5rem;
}

.size-400 {
  font-size: 3rem;
}

.size-500 {
  font-size: 4rem;
}

.bold-50 {
  font-weight: 300;
}

.bold-100 {
  font-weight: 400;
}

.bold-150 {
  font-weight: 600;
}

.bold-200 {
  font-weight: 700;
}

body {
  color: hsl(74, 100%, 100%);
  font-family: "Inter", sans-serif;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(74, 100%, 100%);
  font-family: "Canela Text";
}
.section-title span {
  color: hsl(67, 89%, 50%);
}
@media (max-width: 1200px) {
  .section-title {
    font-size: 2.5961538462rem;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .section-title {
    font-size: 1.7rem;
    font-weight: 700;
  }
}

.header .link > * {
  font-size: 1rem;
  font-weight: 300;
  color: hsla(74, 0%, 100%, 0.72);
}
@media (max-width: 768px) {
  .header .link > * {
    font-size: 0.875rem;
    font-weight: 300;
  }
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Canela Text";
  color: hsl(74, 100%, 100%);
}
.hero-title span {
  color: hsl(67, 89%, 50%);
}
@media (max-width: 1200px) {
  .hero-title {
    font-size: 3.375rem;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.375rem;
    font-weight: 700;
  }
}
@media (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
    font-weight: 700;
  }
}
.hero-description {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: hsl(74, 100%, 100%);
}
@media (max-width: 1200px) {
  .hero-description {
    font-size: 0.84375rem;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .hero-description {
    font-size: 0.675rem;
    font-weight: 300;
  }
}
@media (max-width: 1200px) {
  .hero-links button {
    font-size: 0.875rem;
    font-weight: 700;
  }
}
@media (max-width: 480px) {
  .hero-links button {
    font-size: 0.775rem;
    font-weight: 700;
  }
}
.hero-links a {
  color: hsl(74, 100%, 100%);
  font-weight: 700;
}
@media (max-width: 1200px) {
  .hero-links a {
    font-size: 0.875rem;
    font-weight: 700;
  }
}
@media (max-width: 480px) {
  .hero-links a {
    font-size: 0.775rem;
    font-weight: 700;
  }
}
.hero-stats .stat h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Canela Text";
}
.hero-stats .stat h1 span {
  color: hsl(67, 89%, 50%);
}
@media (max-width: 1200px) {
  .hero-stats .stat h1 {
    font-size: 2.5961538462rem;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .hero-stats .stat h1 {
    font-size: 1.8269230769rem;
    font-weight: 700;
  }
}
.hero-stats .stat h2 {
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .hero-stats .stat h2 {
    font-size: 0.84375rem;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .hero-stats .stat h2 {
    font-size: 0.675rem;
    font-weight: 300;
  }
}
.hero-image .hero-bid .time-left h1 {
  color: hsl(67, 89%, 50%);
}
.hero-image .hero-bid .current-bid h1 {
  color: hsl(67, 89%, 50%);
}

.market .card .nft-name {
  font-size: 1.25rem;
  font-weight: 700;
}
@media (max-width: 480px) {
  .market .card .nft-name {
    font-size: 0.875rem;
    font-weight: 700;
  }
}
.market .card .time-left label {
  font-size: 0.875rem;
  font-weight: 300;
  color: hsla(74, 0%, 100%, 0.72);
}
@media (max-width: 480px) {
  .market .card .time-left label {
    font-size: 0.875rem;
    font-weight: 300;
  }
}

.sell-description {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: hsl(74, 100%, 100%);
}
@media (max-width: 1200px) {
  .sell-description {
    font-size: 0.84375rem;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .sell-description {
    font-size: 0.675rem;
    font-weight: 300;
  }
}
@media (max-width: 1200px) {
  .sell-links button {
    font-size: 0.875rem;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .sell-links button {
    font-size: 0.875rem;
    font-weight: 700;
  }
}
@media (max-width: 480px) {
  .sell-links button {
    font-size: 0.675rem;
    font-weight: 700;
  }
}
.sell-links a {
  color: hsl(74, 100%, 100%);
  font-weight: 700;
}
@media (max-width: 1200px) {
  .sell-links a {
    font-size: 0.875rem;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .sell-links a {
    font-size: 0.875rem;
    font-weight: 700;
  }
}
@media (max-width: 480px) {
  .sell-links a {
    font-size: 0.675rem;
    font-weight: 700;
  }
}

.artists .artist-profile h1 {
  font-size: 0.875rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}
@media (max-width: 480px) {
  .artists .artist-profile h1 {
    font-size: 0.575rem;
    font-weight: 300;
  }
}
.artists .artist-profile h2 {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
@media (max-width: 480px) {
  .artists .artist-profile h2 {
    font-size: 0.675rem;
    font-weight: 400;
  }
}

.suscribe-description {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: hsl(74, 100%, 100%);
}
@media (max-width: 768px) {
  .suscribe-description {
    font-size: 0.675rem;
    font-weight: 300;
  }
}

.footer .social p {
  font-size: 0.875rem;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .footer .social p {
    font-size: 0.7336956522rem;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .footer .social p {
    font-size: 1rem;
    font-weight: 300;
  }
}
.footer-links .footer-title {
  font-size: 1rem;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .footer-links .footer-title {
    font-size: 0.84375rem;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .footer-links .footer-title {
    font-size: 1rem;
    font-weight: 700;
  }
}
.footer-links .links {
  font-size: 0.875rem;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .footer-links .links {
    font-size: 0.7336956522rem;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .footer-links .links {
    font-size: 0.875rem;
    font-weight: 300;
  }
}
@media (max-width: 1200px) {
  .footer .regulations {
    font-size: 0.7336956522rem;
    font-weight: 300;
  }
}
@media (max-width: 480px) {
  .footer .regulations {
    font-size: 0.5rem;
    font-weight: 300;
  }
}

.primary-btn {
  font-size: 1rem;
  background: hsl(67, 89%, 50%);
  color: hsl(74, 100%, 100%);
  font-weight: 700;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .primary-btn {
    font-size: 0.875rem;
  }
}

.place-bid {
  color: hsl(67, 89%, 50%);
  border: 1px solid hsl(67, 89%, 50%);
  border-radius: 8px;
}

.header {
  display: grid;
  grid-template-columns: repeat(10, auto);
}
.header nav {
  grid-column: 1/6;
  align-self: center;
}
.header .close-menu {
  display: none;
}
.header-links {
  display: flex;
  gap: 4rem;
}
.header-links .link-hover-transition:hover > * {
  color: hsl(74, 100%, 100%);
}
.header-links .link-hover-transition {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header-links .link-hover-transition::before {
  content: "";
  position: absolute;
  top: -35.7%;
  left: 50%;
  width: 0%;
  height: 175%;
  border-bottom: 3px solid hsl(67, 89%, 50%);
  z-index: -1;
  transition: width 0.3s ease-in;
}
.header-links .link-hover-transition::after {
  content: "";
  position: absolute;
  top: -35.7%;
  right: 50%;
  width: 0%;
  height: 175%;
  border-bottom: 3px solid hsl(67, 89%, 50%);
  z-index: -1;
  transition: width 0.3s ease-in;
}
.header-links .link-hover-transition:hover::before {
  width: 50%;
}
.header-links .link-hover-transition:hover::after {
  width: 50%;
}
@media (max-width: 768px) {
  .header-links {
    gap: 3rem;
  }
}
.header-btn {
  justify-self: end;
  grid-column: -1;
  width: 8rem;
  height: 2.5rem;
}
.header-menu {
  display: none;
}
@media (max-width: 768px) {
  .header nav {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(67, 89%, 30%);
    transition: top 0.5s ease-in;
  }
  .header .open-nav {
    top: -100%;
  }
  .header .close-menu {
    display: block;
    width: 100%;
    border-top: 1px solid hsl(67, 89%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  .header .close-menu img {
    width: 2.75rem;
    aspect-ratio: 1/1;
  }
  .header-links {
    flex-direction: column;
    width: 100%;
    gap: 0rem;
  }
  .header-links .link {
    border-top: 1px solid hsl(67, 89%, 50%);
    padding: 3rem;
    width: 100%;
    text-align: center;
  }
  .header-btn {
    grid-column: 1;
    width: 7rem;
  }
  .header-menu {
    display: block;
    height: min-content;
    grid-column: -1;
    width: 1.75rem;
    height: min-content;
    align-self: center;
    justify-self: center;
  }
  .header-menu img {
    width: 100%;
    aspect-ratio: 1/1;
    fill: red;
  }
}

.hero {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  row-gap: 3rem;
  width: 100%;
}
.hero-title {
  grid-column: 1;
  grid-row: 1/2;
}
.hero-description {
  grid-column: 1;
  grid-row: 2/3;
}
.hero-links {
  grid-column: 1;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-links button {
  width: 10rem;
  height: 2.5rem;
}
.hero-stats {
  grid-column: 1;
  grid-row: 4/5;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.hero-stats .stat {
  padding: 0rem 1.2rem;
}
.hero-stats .stat h1 {
  margin-bottom: 1rem;
}
.hero-stats .stat:nth-child(1),
.hero-stats .stat:nth-child(2) {
  border-right: 1px solid hsl(67, 89%, 50%);
}
.hero-image {
  grid-column: 2;
  grid-row: 1/-1;
  justify-self: end;
  margin-right: 3rem;
  width: max(80%, 23rem);
  height: min-content;
  position: relative;
}
.hero-image img {
  width: 100%;
  aspect-ratio: 1/1.17;
}
.hero-image .round {
  position: absolute;
  width: 10rem;
  aspect-ratio: 1/1;
  top: 40%;
  left: -12%;
  animation: rotation 10s infinite linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.hero-image .hero-bid {
  display: grid;
  width: 19rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
  background: hsl(223, 51%, 15%);
  padding: 1rem;
  border-radius: 16px;
  border-top: 1px solid hsl(67, 89%, 50%);
  bottom: -13%;
  right: -10%;
  position: absolute;
}
.hero-image .hero-bid .place-bid {
  grid-row: 2;
  grid-column: 1/-1;
  width: 90%;
  height: 3.25rem;
  justify-self: center;
}
.hero-image .hero-bid .time-left {
  justify-self: start;
}
.hero-image .hero-bid .time-left h1 {
  color: hsl(67, 89%, 50%);
  margin-bottom: 0.5rem;
}
.hero-image .hero-bid .current-bid {
  justify-self: end;
}
.hero-image .hero-bid .current-bid h1 {
  color: hsl(67, 89%, 50%);
  margin-bottom: 0.5rem;
}
@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-title {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .hero-title br {
    content: "";
    display: none;
  }
  .hero-title br:after {
    content: "";
    display: none;
  }
  .hero-description {
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 80%;
  }
  .hero-description br {
    content: "";
    display: none;
  }
  .hero-description br:after {
    content: "";
    display: none;
  }
  .hero-image {
    grid-column: 1;
    grid-row: 3/4;
    width: 23rem;
    align-self: center;
    justify-self: center;
    margin-right: 0;
  }
  .hero-image .hero-bid {
    bottom: -5%;
    right: -30%;
  }
  .hero-links {
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .hero-stats {
    grid-row: 5/6;
    align-self: center;
    justify-self: center;
  }
}
@media (max-width: 768px) {
  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .hero-image .hero-bid {
    position: static;
    align-self: center;
    justify-self: center;
  }
}
@media (max-width: 480px) {
  .hero .round {
    width: 5rem;
    aspect-ratio: 1/1;
    top: 40%;
    left: -7%;
  }
  .hero-image {
    width: 95%;
  }
  .hero-image .hero-bid {
    display: none;
  }
  .hero-links {
    gap: 1.5rem;
  }
  .hero-links button {
    width: 8rem;
    height: 2.5rem;
  }
}

.market {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 3rem;
}
.market-title {
  grid-column: 1;
  justify-self: start;
}
.market-btn {
  grid-column: 2/3;
  justify-self: end;
  align-self: end;
  width: 8rem;
  height: 2.5rem;
}
.market-cards {
  grid-column: 1/-1;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.market-cards .card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  width: 25rem;
  height: 31rem;
  background: hsl(223, 51%, 15%);
  border-radius: 28px;
  border-top: 1px solid hsl(67, 89%, 50%);
}
.market-cards .card-image {
  grid-column: 1/-1;
  grid-row: 1;
  justify-self: center;
  width: 90%;
  align-self: center;
  margin-top: 0.5rem;
}
.market-cards .card-image img {
  width: 100%;
  aspect-ratio: 1.07/1;
}
.market-cards .card .nft-name {
  margin-left: 1.25rem;
  align-self: center;
}
.market-cards .card .nft-price {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-self: end;
  margin-right: 1.25rem;
}
.market-cards .card .time-left {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  align-self: center;
}
.market-cards .card .time-left .timer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.market-cards .card .place-bid {
  width: 10rem;
  height: 2.5rem;
  align-self: center;
}
@media (max-width: 1024px) {
  .market {
    grid-template-columns: auto auto;
  }
  .market-btn {
    width: 6.5rem;
    height: 2rem;
  }
  .market-cards {
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .market {
    grid-template-rows: repeat(3, auto);
  }
  .market-title {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
  }
  .market-btn {
    grid-column: 1/-1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
  }
  .market-cards {
    grid-row: 3;
  }
  .market-cards .card {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .market-cards .card .time-left {
    grid-column: 1/-1;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .market-cards .card .time-left .timer {
    margin-top: 0;
  }
  .market-cards .card .place-bid {
    grid-column: 1/-1;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
  }
}

.sell {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(10, auto);
  width: 100%;
  column-gap: 3rem;
  row-gap: 2rem;
  margin-top: 3rem;
}
.sell-images {
  grid-column: 2;
  grid-row: 1/-1;
  width: 85%;
  aspect-ratio: 1.3/1;
  position: relative;
  justify-self: end;
}
.sell-images .image {
  position: absolute;
}
.sell-images .image_1 {
  width: 55%;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.sell-images .image_1 img {
  width: 100%;
  aspect-ratio: 1.02/1;
}
.sell-images .image_2 {
  width: 50%;
  top: 0;
  right: 0;
  z-index: -1;
}
.sell-images .image_2 img {
  width: 100%;
  aspect-ratio: 1/1.15;
}
.sell-title {
  grid-column: 1;
  grid-row: 4/6;
}
.sell-description {
  grid-column: 1;
  grid-row: 6/7;
}
.sell-links {
  grid-column: 1;
  grid-row: 7/8;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sell-links button {
  width: 10rem;
  height: 2.5rem;
}
@media (max-width: 1024px) {
  .sell {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
  .sell-title {
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .sell-title br {
    content: "";
    display: none;
  }
  .sell-title br:after {
    content: "";
    display: none;
  }
  .sell-description {
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 80%;
  }
  .sell-images {
    align-self: center;
    justify-self: center;
    grid-column: 1;
    grid-row: 3/4;
    width: 25rem;
  }
  .sell-links {
    grid-row: 4/5;
    justify-content: center;
    gap: 5rem;
  }
}
@media (max-width: 480px) {
  .sell-images {
    width: 95%;
  }
  .sell-links {
    gap: 1.5rem;
  }
  .sell-links button {
    width: 8rem;
    height: 2.5rem;
  }
}

.artists {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  width: 100%;
}
.artists-title {
  grid-column: 1/2;
  grid-row: 1;
}
.artists-btn {
  grid-column: -1/-2;
  justify-self: end;
  align-self: center;
  width: 8rem;
  height: 2.5rem;
}
.artists .artists-info {
  grid-row: 2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-auto-rows: auto;
  gap: 0.5rem;
  width: 100%;
  aspect-ratio: 2.1/1;
}
.artists .artists-info .artist {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.artists .artists-info .artist[data-index="1"] {
  grid-column: 1/7;
}
.artists .artists-info .artist[data-index="1"] .background {
  height: 100%;
}
.artists .artists-info .artist[data-index="1"] .background img {
  height: 100%;
  width: 100%;
}
.artists .artists-info .artist[data-index="2"] {
  grid-column: 7/17;
}
.artists .artists-info .artist[data-index="2"] .background {
  height: 100%;
}
.artists .artists-info .artist[data-index="2"] .background img {
  height: 100%;
  width: 100%;
}
.artists .artists-info .artist[data-index="3"] {
  grid-column: 17/-1;
  grid-row: 1/3;
}
.artists .artists-info .artist[data-index="3"] .background {
  height: 100%;
}
.artists .artists-info .artist[data-index="3"] .background img {
  height: 100%;
  width: 100%;
}
.artists .artists-info .artist[data-index="4"] {
  grid-column: 1/9;
  grid-row: 2;
}
.artists .artists-info .artist[data-index="4"] .background {
  height: 100%;
}
.artists .artists-info .artist[data-index="4"] .background img {
  height: 100%;
  width: 100%;
}
.artists .artists-info .artist[data-index="5"] {
  grid-column: 9/17;
  grid-row: 2;
}
.artists .artists-info .artist[data-index="5"] .background {
  height: 100%;
}
.artists .artists-info .artist[data-index="5"] .background img {
  height: 100%;
  width: 100%;
}
.artists .artists-info .artist {
  position: relative;
}
.artists .artists-info .artist .background {
  position: relative;
}
.artists .artists-info .artist .background::after {
  background: linear-gradient(2.23deg, rgba(19, 30, 58, 0.92) 16.36%, rgba(19, 30, 58, 0) 52.73%);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}
.artists .artists-info .artist-profile {
  position: absolute;
  left: 0;
  bottom: 15px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.artists .artists-info .artist-profile h1 {
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .artists .artists-info {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    aspect-ratio: 1.5/1;
  }
  .artists .artists-info .artist[data-index="3"] {
    display: none;
  }
  .artists-btn {
    width: 6.5rem;
    height: 2rem;
  }
  .artists-title br {
    content: "";
    display: none;
  }
  .artists-title br:after {
    content: "";
    display: none;
  }
}
@media (max-width: 480px) {
  .artists {
    grid-template-rows: repeat(3, auto);
  }
  .artists-title {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
  }
  .artists-btn {
    grid-column: 1/-1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
  }
  .artists .artists-info {
    grid-column: 1/-1;
    grid-row: 3;
  }
  .artists .artist-profile {
    gap: 1rem;
  }
  .artists .artist-profile .picture img {
    width: 70%;
    aspect-ratio: 1/1;
  }
}

.suscribe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  row-gap: 2rem;
  width: 100%;
}
.suscribe-images {
  grid-column: 1/2;
  grid-row: 1/-1;
  position: relative;
  width: 80%;
  aspect-ratio: 1.2/1;
  align-self: center;
}
.suscribe-images .image {
  position: absolute;
}
.suscribe-images .image_1 {
  width: 70%;
  top: 0;
  left: 0;
  transform: rotate(-10deg);
}
.suscribe-images .image_1 img {
  width: 100%;
  aspect-ratio: 1.09/1;
}
.suscribe-images .image_2 {
  width: 50%;
  right: 0;
  bottom: 0;
}
.suscribe-images .image_2 img {
  width: 100%;
  aspect-ratio: 1/1.23;
}
.suscribe-title {
  grid-row: 2/3;
}
.suscribe-description {
  grid-row: 3/4;
}
.suscribe-field {
  grid-row: 4/5;
  display: flex;
  justify-content: space-between;
  background: hsl(223, 51%, 15%);
  width: 25rem;
  border-radius: 8px;
}
.suscribe-field > * {
  margin: 0.5rem;
}
.suscribe-btn {
  width: 7rem;
  height: 2.5rem;
}
@media (max-width: 768px) {
  .suscribe {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .suscribe-title {
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }
  .suscribe-images {
    grid-row: 2;
    align-self: center;
    justify-self: center;
  }
  .suscribe-description {
    grid-row: 3;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .suscribe-field {
    grid-row: 4;
    align-self: center;
    justify-self: center;
  }
}
@media (max-width: 480px) {
  .suscribe-field {
    width: 85%;
    justify-content: space-around;
  }
  .suscribe input {
    width: 60%;
  }
  .suscribe-btn {
    width: 40%;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 3rem;
}
.footer .social {
  grid-column: 1/3;
  align-self: center;
}
.footer .social p {
  margin-bottom: 1rem;
  line-height: 1.5;
}
.footer .social-networks {
  display: flex;
  gap: 0.5rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 1rem;
}
.footer-links .links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer .regulations {
  grid-column: 1/-1;
  grid-row: 2/3;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid hsl(60, 0%, 51%);
}
.footer .regulations .conditions {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
  }
  .footer .social {
    grid-row: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .footer .social .social-networks {
    justify-content: center;
  }
  .footer .footer-links:nth-child(2) {
    grid-row: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .footer .footer-links:nth-child(3) {
    grid-row: 3;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .footer .footer-links:nth-child(4) {
    grid-row: 4;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .footer .footer-links:nth-child(5) {
    grid-row: 5;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .footer .regulations {
    grid-row: 6;
  }
}/*# sourceMappingURL=style.css.map */