body {
  @include flexcentered();
  flex-direction: column;
  position: relative;
  background: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 90vw;
  margin-top: $spacing-margin;
}

.page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;

  background: hsl(222, 53%, 7%);
  .content {
    background-image: url("../../img/Global/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
    width: 100%;
    height: 100%;
  }
}

.size-50 {
  font-size: $fs-semi-regular;
}

.size-100 {
  font-size: $fs-regular;
}

.size-150 {
  font-size: $fs-semi-large;
}

.size-200 {
  font-size: $fs-large;
}

.size-400 {
  font-size: $fs-enormous;
}

.size-500 {
  font-size: $fs-giant;
}

.bold-50 {
  font-weight: $fw-semi-regular;
}

.bold-100 {
  font-weight: $fw-regular;
}

.bold-150 {
  font-weight: $fw-semi-bold;
}

.bold-200 {
  font-weight: $fw-bold;
}
