* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 100%;
}

body {
  /* @include flexcentered; */
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
