.market {
  .card {
    .nft-name {
      @include set-font($fs-semi-large, $fw-bold);

      @include response(xxl) {
        $fs-regular: text-resize-giant-based(3.375rem, _regular);
        @include set-font($fs-semi-large, $fw-bold);
      }
    }

    .time-left {
      label {
        @include set-font($fs-semi-regular, $fw-semi-regular);
        color: $color4;

        @include response(xxl) {
          $fs-regular: text-resize-giant-based(3.375rem, _regular);
          @include set-font($fs-semi-regular, $fw-semi-regular);
        }
      }
    }
  }
}
