.suscribe {
  &-description {
    @include set-font($fs-regular, $fw-semi-regular);
    font-family: $ff-secondary;
    color: $txt-defaultColor;

    @include response(lg) {
      $fs-regular: 0.675rem;
      @include set-font($fs-regular, $fw-semi-regular);
    }
  }
}
