// ==========================================================================
// =========          Color Variables        ==========
// ==========================================================================

$color1: hsl(67, 89%, 50%);
$color2: hsl(74, 100%, 100%);
$color3: hsl(60, 0%, 51%);
$color4: hsl(74, 0%, 100%, 0.72);
$color5: hsl(223, 51%, 15%);

// ---- Buttons ----
$btn-primary-bgColor: $color1;
$btn-primary-txtColor: $color2;
$btn-bid-bgColor: $color5;
$btn-bid-txtColor: $color1;

// ---- Texts ----
$txt-defaultColor: $color2;
$txt-highlightColor: $color1;
$txt-thirdColor: $color3;
$txt-fourthColor: $color4;

// ==========================================================================
// =========          Font-family Variables        ==========
// ==========================================================================

$ff-primary: "Canela Text";
$ff-secondary: "Inter", sans-serif;

// ==========================================================================
// =========          Font-size Variables         ==========
// ==========================================================================

$fs-semi-regular: 0.875rem;
$fs-regular: 1rem;
$fs-semi-large: 1.25rem;
$fs-large: 1.5rem;
$fs-enormous: 3rem;
$fs-giant: 4rem;

// ==========================================================================
// =========          Font-weight Variables        ==========
// ==========================================================================

$fw-semi-regular: 300;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// ==========================================================================
// =========          Spacing Variables        ==========
// ==========================================================================

$spacing-margin: 3rem;

// ==========================================================================
// =========          Others         ==========
// ==========================================================================

$border-radius1: 8px;
$border-radius2: 16px;
$border-radius3: 28px;
