.primary-btn {
  font-size: $fs-regular;
  background: $btn-primary-bgColor;
  color: $btn-primary-txtColor;
  font-weight: $fw-bold;
  border-radius: $border-radius1;
}

.place-bid {
  color: $btn-bid-txtColor;
  border: 1px solid $color1;
  border-radius: $border-radius1;
}
