.hero {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  row-gap: 3rem;
  width: 100%;

  &-title {
    grid-column: 1;
    grid-row: 1/2;
  }

  &-description {
    grid-column: 1;
    grid-row: 2/3;
  }

  &-links {
    grid-column: 1;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    gap: 1rem;
    button {
      width: 10rem;
      height: 2.5rem;
    }
  }

  &-stats {
    grid-column: 1;
    grid-row: 4/5;

    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    .stat {
      padding: 0rem 1.2rem;
      h1 {
        margin-bottom: 1rem;
      }
    }

    .stat:nth-child(1),
    .stat:nth-child(2) {
      border-right: 1px solid $color1;
    }
  }

  &-image {
    grid-column: 2;
    grid-row: 1/-1;
    justify-self: end;
    margin-right: 3rem;
    width: max(80%, 23rem);
    height: min-content;
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 1/1.17;
    }
    .round {
      position: absolute;
      width: 10rem;
      aspect-ratio: 1/1;
      top: 40%;
      left: -12%;
    }
    .hero-bid {
      display: grid;
      width: 19rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      row-gap: 1rem;
      background: $btn-bid-bgColor;
      padding: 1rem;
      border-radius: $border-radius2;
      border-top: 1px solid $color1;
      bottom: -13%;
      right: -10%;
      position: absolute;
      .place-bid {
        grid-row: 2;
        grid-column: 1/-1;
        width: 90%;
        height: 3.25rem;
        justify-self: center;
      }

      .time-left {
        justify-self: start;
        h1 {
          color: $txt-highlightColor;
          margin-bottom: 0.5rem;
        }
      }
      .current-bid {
        justify-self: end;
        h1 {
          color: $txt-highlightColor;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  @include response(xl) {
    grid-template-columns: 1fr;
    &-title {
      @include center-element;

      @include remove-lineBreak;
      text-align: center;
    }

    &-description {
      @include center-element;
      @include remove-lineBreak;
      text-align: center;
      width: 80%;
    }
    &-image {
      grid-column: 1;
      grid-row: 3/4;
      width: 23rem;
      @include center-element;
      margin-right: 0;
      .hero-bid {
        bottom: -5%;
        right: -30%;
      }
    }

    &-links {
      grid-row: 4/5;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
    }

    &-stats {
      grid-row: 5/6;
      @include center-element;
    }
  }

  @include response(lg) {
    &-image {
      @include flexcentered();
      flex-direction: column;
      gap: 2rem;
      .hero-bid {
        position: static;
        @include center-element();
      }
    }
  }

  @include response(md) {
    .round {
      width: 5rem;
      aspect-ratio: 1/1;
      top: 40%;
      left: -7%;
    }
    &-image {
      width: 95%;
      .hero-bid {
        display: none;
      }
    }

    &-links {
      gap: 1.5rem;
      button {
        width: 8rem;
        height: 2.5rem;
      }
    }
  }
}
